.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
packages/webview/**

!packages/webview/dist/index.html
!packages/webview/dist/assets/index.js
!packages/webview/dist/assets/index.css
!packages/webview/dist/animation/idle.vrma


